$white = #ffffff
$black = #000000
$invisible = rgba(0, 0, 0, 0)

$dark-gray = #333333
$gray = #818181
$light-gray = #f0f0f0

$gray--opacity--20 = rgba($gray, 0.20)
$gray--opacity--40 = rgba($gray, 0.40)
$gray--opacity--60 = rgba($gray, 0.60)
$gray--opacity--80 = rgba($gray, 0.80)
$light-gray--opacity--35 = rgba($light-gray, 0.35)
$light-gray--opacity--40 = rgba($light-gray, 0.40)
$light-gray--opacity--70 = rgba($light-gray, 0.70)

$brand-accent = #4E0569
$brand-dark = $brand-accent - 15%
$brand-light = $brand-accent + 15%

$error = #c6192e
$err = $error

$linkedin = #0077B5

// FONTS
$xs-font = 14px
$sm-font = 20px
$md-font = 24px
$lg-font = 32px
$xl-font = 50px

$slight-bolded = 500
$normal = 100

$font-family-brand = 'Open Sans'
$font-family-neutral = 'Open Sans' !important

// BREAKPOINTS
$screen-xs-max = 320px
$screen-xs-min = 321px
$screen-sm-min = 768px
$screen-md-min = 922px
$screen-lg-min = 1200px
$screen-sm-max = 767px
$screen-md-max = 921px
$screen-lg-max = 1199px

// MARGINS
$xs-margin = 10px
$sm-margin = 13px
$rg-margin = 14px
$md-margin = 20px
$lg-margin = 24px
$xl-margin = 64px

// PADDINGS
$xs-padding = 10px
$sm-padding = 13px
$rg-padding = 14px
$md-padding = 20px
$lg-padding = 24px
$xl-padding = 64px
